.font-awesome-icon
  display: inline-block
  font-weight: 600
  font-style: normal
  font-variant: normal
  font-family: 'Font Awesome 5 Free'
  text-rendering: auto
  -webkit-font-smoothing: antialiased